@import "./shared.scss";

* {
  box-sizing: border-box;
}

.keyboard {
  border-top: 1px solid lighten(black, 0.7);
  display: grid;
  height: 400px;
  grid-template-columns: 10% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 10%;
  grid-template-rows: 60% 40%;
  grid-template-columns: repeat(21, 1fr);
  transform: translateY($spacing-mid);
}
