@import url("https://fonts.googleapis.com/css?family=Audiowide|Staatliches&display=swap");

// fonts
$headerFont: "Audiowide", cursive;
$bodyFont: "Staatliches", sans-serif;

@mixin gradient($color, $dark) {
  background: linear-gradient(
    0deg,
    darken($color, 20%) 0%,
    $color 2%,
    $color 50%,
    darken($color, 20%) 98%,
    darken($color, 60%) 100%
  );
}

@mixin keyGradient($color) {
  background: linear-gradient(
    0deg,
    darken($color, 20%) 0%,
    $color 2%,
    $color 50%,
    darken($color, 20%) 90%,
    darken($color, 30%) 100%
  );
}

// colors
$gray: rgb(179, 179, 179);
$berry: rgb(202, 28, 163);
$fusha: rgb(164, 10, 164);
$royalBlue: rgb(18, 10, 164);
$royalBlueGradient: keyGradient($royalBlue);
$royalBlueLight: rgba(18, 10, 164, 0.7);
$synthBlue: rgb(14, 70, 219);
$synthBlueGradient: keyGradient($synthBlue);
$synthBlueLight: rgba(14, 70, 219, 0.7);
$teal: rgb(0, 230, 241);

// padding
$spacing-small: 10px;
$spacing-mid: 20px;
$spacing-large: 40px;
$spacing-x-large: 60px;

// border radisus
$radius-small: 5px;
$radius-mid: 10px;
